{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
        .custom-select {
            background-color: #ffffff;
            text-align: center;
            color: #38b6ff;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            width: 100%;
            box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
        }

        .custom-select option {
            background-color: white;
            color: #656565;
        }

        .custom-select option:hover {
            background-color: #040694;
        }

        .custom-select:focus {
            box-shadow: 0 0 0 0.2rem rgb(87, 152, 225);
            outline: none;
        }

        .select-container {
            max-width: 100%;
            margin: 50px auto;
        }
    </style>
    <!-- mobile popup search -->
    <div class="search-popup">
        <button class="close-search">
	<span class="far fa-times">
	</span>
        </button>
        <form action="#">
            <div class="form-group">
                <input class="form-control" name="search-field" placeholder="اینجا جستجو کنید ..." required=""
                       type="search"/>
                <button type="submit">
                    <i class="far fa-search">
                    </i>
                </button>
            </div>
        </form>
    </div>
    <!-- mobile popup search end -->
    <main class="main">
        <!-- breadcrumb -->
        <div class="site-breadcrumb">
            <div class="site-breadcrumb-bg" style="background: url({% static "img/breadcrumb/01.jpg" %})">
            </div>
            <div class="container">
                <div class="site-breadcrumb-wrap">
                    <h4 class="breadcrumb-title">
                        خرید تسویه حساب
                    </h4>
                    <ul class="breadcrumb-menu">
                        <li>
                            <a href="{% url "home:home" %}">
                                <i class="far fa-home">
                                </i>
                                خانه
                            </a>
                        </li>
                        <li class="active">
                            خرید تسویه حساب
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->
        <!-- shop checkout -->
        <div class="shop-checkout py-100">
            <div class="container">
                <div class="shop-checkout-wrap">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="shop-checkout-step">
                                <div class="accordion" id="shopCheckout">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button aria-controls="checkoutStep1" aria-expanded="true"
                                                    class="accordion-button" data-bs-target="#checkoutStep1"
                                                    data-bs-toggle="collapse" type="button">
                                                آدرس شما
                                            </button>
                                        </h2>
                                        <div class="accordion-collapse collapse show" data-bs-parent="#shopCheckout"
                                             id="checkoutStep1">
                                            <div class="accordion-body">
                                                <div class="shop-checkout-form">
                                                    {% if request.user.addresses.all %}
                                                        <div class="select-container">
                                                            <select class="custom-select form-select form-select-lg"
                                                                    id="addressSelect">
                                                                <option value="" disabled selected>انتخاب آدرس</option>
                                                                {% for address in request.user.addresses.all %}
                                                                    <option value="1">{{ address.address }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    {% else %}
                                                        <div class="select-container">
                                                            <p class="text-danger text-center ">شما ادرسی ندارید </p>
                                                        </div>
                                                    {% endif %}
                                                    <a href="{% url "cart:shop_cart" %}" class="theme-btn theme-btn2"
                                                       type="button">
                                                        <span class="fas fa-arrow-right"
                                                              style="transform: rotate(0);"></span>
                                                        بازگشت به سبد خرید
                                                    </a>
                                                    <a href="{% url "account:add_address" %}?next={% url "cart:checkout" order.id %}"
                                                       class="theme-btn" type="submit">
                                                        اضافه کردن ادرس
                                                        <i class="fas fa-plus-octagon">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button aria-controls="checkoutStep2" aria-expanded="false"
                                                    class="accordion-button collapsed"
                                                    data-bs-target="#checkoutStep2"
                                                    data-bs-toggle="collapse" type="button">
                                                آدرس حمل و نقل شما
                                            </button>
                                        </h2>
                                        <div class="accordion-collapse collapse" data-bs-parent="#shopCheckout"
                                             id="checkoutStep2">
                                            <div class="accordion-body">
                                                <div class="shop-checkout-form">
                                                    <form action="#">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-check mb-20">
                                                                    <input class="form-check-input"
                                                                           id="flexCheckDefault" type="checkbox"
                                                                           value=""/>
                                                                    <label class="form-check-label"
                                                                           for="flexCheckDefault">
                                                                        آدرس پستی و حمل و نقل من یکسان است.
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>
                                                                        نام
                                                                    </label>
                                                                    <input class="form-control"
                                                                           placeholder="نام"
                                                                           type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>
                                                                        نام خانوادگی
                                                                    </label>
                                                                    <input class="form-control"
                                                                           placeholder="نام خانوادگی"
                                                                           type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>
                                                                        ایمیل
                                                                    </label>
                                                                    <input class="form-control"
                                                                           placeholder="آدرس ایمیل"
                                                                           type="email"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>
                                                                        تلفن
                                                                    </label>
                                                                    <input class="form-control"
                                                                           placeholder="شماره تلفن"
                                                                           type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label>
                                                                        آدرس خط 1
                                                                    </label>
                                                                    <input class="form-control"
                                                                           placeholder="آدرس خط 1"
                                                                           type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label>
                                                                        آدرس خط 2
                                                                    </label>
                                                                    <input class="form-control"
                                                                           placeholder="آدرس خط 2"
                                                                           type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>
                                                                        کشور
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>
                                                                        شهر
                                                                    </label>
                                                                    <input class="form-control"
                                                                           placeholder="شهر"
                                                                           type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>
                                                                        کد پستی
                                                                    </label>
                                                                    <input class="form-control"
                                                                           placeholder="کد پستی"
                                                                           type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>
                                                                        ایالت
                                                                    </label>
                                                                    <input class="form-control"
                                                                           placeholder="ایالت"
                                                                           type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="shop-shipping-method">
                                                                    <h6>
                                                                        روش حمل و نقل را انتخاب کنید
                                                                    </h6>
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                                                            <div class="form-check">
                                                                                <input checked=""
                                                                                       class="form-check-input"
                                                                                       id="ssm-1" name="method"
                                                                                       type="radio"/>
                                                                                <label class="form-check-label"
                                                                                       for="ssm-1">
                                                                                    استاندارد
                                                                                    <span>
					   هزینه - رایگان
					  </span>
                                                                                    <span>
					   6-7 روز
					  </span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input"
                                                                                       id="ssm-2" name="method"
                                                                                       type="radio"/>
                                                                                <label class="form-check-label"
                                                                                       for="ssm-2">
                                                                                    اکسپرس
                                                                                    <span>
					   هزینه - 20 دلار
					  </span>
                                                                                    <span>
					   1-2 روز
					  </span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input"
                                                                                       id="ssm-3" name="method"
                                                                                       type="radio"/>
                                                                                <label class="form-check-label"
                                                                                       for="ssm-3">
                                                                                    پیک
                                                                                    <span>
					   هزینه - 30 دلار
					  </span>
                                                                                    <span>
					   2-3 روز
					  </span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input"
                                                                                       id="ssm-4" name="method"
                                                                                       type="radio"/>
                                                                                <label class="form-check-label"
                                                                                       for="ssm-4">
                                                                                    حمل
                                                                                    <span>
					   هزینه - 15 دلار
					  </span>
                                                                                    <span>
					   1-3 روز
					  </span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <button class="theme-btn theme-btn2"
                                                                        type="button">
				  <span class="fas fa-arrow-right" style="transform: rotate(0);">
				  </span>
                                                                    قبلی
                                                                </button>
                                                                <button class="theme-btn" type="submit">
                                                                    مرحله بعدی
                                                                    <i class="fas fa-arrow-left">
                                                                    </i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shop-cart-summary mt-0">
                                <h5>
                                    خلاصه سبد خرید
                                </h5>
                                <ul>
                                    <li>
                                        <strong>
                                            مجموع ناخالص:
                                        </strong>
                                        <span>
                $4,500.00
            </span>
                                    </li>
                                    <li>
                                        <strong>
                                            تخفیف:
                                        </strong>
                                        <span>
                $5.00
            </span>
                                    </li>
                                    <li>
                                        <strong>
                                            حمل و نقل:
                                        </strong>
                                        <span>
                رایگان
            </span>
                                    </li>
                                    <li>
                                        <strong>
                                            مالیات:
                                        </strong>
                                        <span>
                $25.00
            </span>
                                    </li>
                                    <li class="shop-cart-total">
                                        <strong>
                                            مجموع:
                                        </strong>
                                        <span>
                {{order.total}}
            </span>
                                    </li>
                                </ul>

                                <!-- فرم کوپن -->
                                <div class="mt-40">
                                    <form action="{% url 'cart:discount_order' order.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-7 col-lg-6">

                                                    <div class="form-group">
                                                        <input class="form-control" name="discount"
                                                               placeholder="کلید را وارد کنید..." type="text"/>
                                                    </div>

                                            </div>
                                            <div class="col-md-5 col-lg-6 text-md-end ">
                                                <button class="theme-btn" type="submit">
                                                    کوپن را اعمال کنید
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <!-- دکمه پرداخت -->
                                <div class="text-end mt-40">
                                    <a class="theme-btn" href="#">
                                        اکنون پرداخت کنید
                                        <i class="fas fa-arrow-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop checkout end -->
    </main>

{% endblock %}