{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- mobile popup search end -->
  <main class="main">
   <!-- shop checkout complete -->
   <div class="shop-checkout-complete py-120">
	<div class="container">
	 <div class="row">
	  <div class="col-md-7 mx-auto">
	   <div class="checkout-complete-content">
		<div class="checkout-complete-icon">
		 <i class="far fa-check">
		 </i>
		</div>
		<h3>
		 ممنون پیام شما!.
		</h3>
		<p>
		 پیام  شما ثبت شده است و در اسرع وقت پردازش خواهد شد.

		</p>

		<a class="theme-btn" href="{% url "home:home" %}">
		 بازگشت به خانه
		 <i class="fas fa-arrow-left">
		 </i>
		</a>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
   <!-- shop checkout complete end -->
  </main>
{% endblock %}